body {
    margin: 0;
    background: 0;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.6;
    font-size: 16px;
    
}
*,
*:before,
*:after{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
margin: 0;
}

/*container
=====================*/
.container {
    width: 100%;
    max-width: 1093px;
    margin: 0 auto;
}

/*header
=========================*/
.header {
    
    width: 100%;
    max-width: 1280px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}
.header_inner{   
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*intro
=================*/   
.intro {  
    display: absolute;
    z-index: 1000;
    flex-direction: column;
    justify-content: top;

    height: 695px;
    padding-top:100px;
    background: url("../image/intro.png") center no-repeat;
    -webkit-background-size: cover; 
    background-size: cover;
}
 
.intro_inner{    
    width: 100%;
    max-width: 407px;
    margin: 35px auto;
    text-align: center;
}

.intro_title {  
    margin: 0 0 21px;
    color: #333333;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.1;   
}

.intro_device{
   
    position: relative;
    z-index: 100;
    margin: 0 auto;
    text-align: center;
  
}

 

.intro_subtitle{
    margin-bottom: 25px;
    color: #929292;
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    
}

/*nav
==================*/
.nav {
    display: flex;
    font-family: inherit;
    font-weight: medium;
    font-size: 11px;
    text-transform: uppercase;
    align-items: center;
    
    
}
.nav_link {
    color: #929292; 
    text-decoration: none;
    transition: color .2s linear;
    margin-left: 30px; 
    opacity: .75;
    
}
.nav_link:hover {
    color: #0F7BFF;
    opacity: 1;
}

/*Button
===================*/

.btn{
    margin-left: 35px;
    display: inline-block;
    font-size: 11px;
    color: #ffffff;
    text-decoration: none;
    padding: 6px 25px;

    border-radius: 17px;
    border: 2px solid #0063DD;
    
    transition: background linear .5s;
    transition: color .5s linear;
}
.btn--red
{
    background-color: #0063DD;   
}
.btn--red:hover {
    background-color:#ffffff;
    color: #0063DD;  
}

/*Features
===============*/
.features_fon
{
    position: relative;
    z-index: 1000;
    flex-direction: column;
    justify-content: top;

    height: 431px;

    background: url("../image/Features/feature.png") center no-repeat;
    -webkit-background-size: cover; 
    background-size: cover;
}
.features{
    position: relative;
    z-index: 1000;
    width: 100%;
    max-width: 760px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 100px;
    
}
.features_item
{ 
    width: 240px;
    height: 193px;
    text-align: center;
    margin: 0 auto;

    background: #ffffff;
    border-radius: 3px;
    transition: transform .5s linear;
}
.features_item:hover{
    transform: translateY(33px);
}
.features_icon{
    
    margin-top: 27px;
    width: 47px;
    height: 47px;
}

.features_title{
    margin-bottom: 17px;
    font-size: 12px;
    font-weight: 700;
    color: #333333;
    font-family: Quicksand;
}
.features_text{
    font-size: 11px;
    font-weight: 400;
    color: #929292;
    line-height: 18px;
    margin-bottom: 27px;
    padding: 0 21px 22px 22px;
}

/* About
===================== */
.about{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 87px;
    width: 100%;
    max-width: 829px;
    flex-flow: row wrap;
}
.about_item{

    width: 350px;
    height: 407px;
    
    
}
.about_title{
    
    font-size: 21px;
    line-height: 24px;
    text-align: left;
    margin-bottom: 20px;
    padding-top: 84px;
    font-weight: 500;
     
   
}
.about_subtitle{
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;   
    margin-bottom: 7px;
    
}
.about_btn{
    font-size: 11px;
    font-weight: 500;
    line-height: 1; 
    text-decoration: none;
    display: inline-block;
    color: #0f7bff;   
}
.about_btn::after{
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    background-color:#0f7bff;
    transition: width .3s ease-in-out;
}
.about_btn:hover:after,
.about_btn:focus:hover{
    width: 100%;
}
.about_btn:hover{
    color: #0f7bff;
}

/*Work
===============*/
.work_fon{
    display: absolute;
    flex-direction: column;
    justify-content: top;

    height: 500px;

    background: url("../image/Features/feature.png") center no-repeat;
    -webkit-background-size: cover; 
    background-size: cover;
}
.work_header{
    margin: 0 auto;
    width: 100%;
    max-width: 487px;  
    text-align: center; 
   padding-top: 101px;
   padding-bottom: 31px;
}
.work_titles{
    color: #333333;
    font-family: Quicksand;
    font-size: 21px;
    font-weight: 500;
    line-height: 24px;  
    margin-bottom: 26px;
     
}
.work_subtitle
{
    color: #929292;
    font-family: Quicksand;
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;   
}
.work_line{
    position: absolute;
    width:414px;
    height:1px;
    z-index: 200; 
    margin: 15px auto;


}

.work{

    display: flex;
    justify-content: space-between;
    text-align: justify;
    width: 100%;
    max-width: 717px;
    margin: 0 auto;
    margin-bottom: 85px;
    

    z-index: 100;
    
}
.work_item{
    width: 197px;
    height: 194px;
    text-align: center;


}
.work_icon{
    position: relative;
    z-index: 300;
    width: 67px;
    height: 67px;
    margin-bottom: 15px;
    
}

.work_title{
    margin-bottom: 15px;
    font-size: 12px;
    font-weight: 700;
    color: #333333;
    font-family: Quicksand;
}
.work_text{
    font-size: 11px;
    font-weight: 400;
    color: #929292;
    line-height: 18px;
   text-align: center;
   line-height: 18px;
}
/* howdo
====================== */
/* .howdo
{
    display: absolute;
    flex-direction: column;
    justify-content: top;

    height: 405px;

    background: url("../image/Features/feature.png") center no-repeat;
    -webkit-background-size: cover; 
    background-size: cover;
}
.gallery
{
   justify-content: left;
    width: 100%;
    max-width: 601px;
}
.gallery-cell{
    width: 33%;
    height: 168px;
    margin-right: 10px;
    background: #8C8;
}

.gallery-cell:before
{
    display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
} */

/* Price 
=============*/
.price{
    width: 100%;
    max-width: 797px;
    display:flex;
    margin: 0 auto;
    justify-content: center;
   
}
.price_choice{
    
    width: 240px;
    height: 193px;
    text-align: left;
    margin: 0 auto;
    margin-top: 197px;
    margin-bottom: 197px;
}
.price_item
{ 
    
    width: 240px;
    height: 384px;
    text-align: center;

    margin: 0 auto;
    margin-top: 87px;
    margin-bottom: 87px;

    background: #ffffff;
    border-radius: 3px;  
    box-shadow: 0 0 45px rgba(165, 165, 165, 0.25);
}

.price_icon{
    
    margin-top: 27px;
    width: 67px;
    height: 67px;
    margin-bottom: 19px;
}

.price_title{
    margin-bottom: 17px;
    font-size: 12px;
    font-weight: 700;
    color: #333333;
    font-family: Quicksand;
}
.price_text{
    font-size: 11px;
    font-weight: 400;
    color: #929292;
    line-height: 25px;
    margin-bottom: 10px;
}
.price_price
{
    color: #0f7bff;
    font-family: Quicksand;
    font-size: 21px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    margin-bottom: 22px;
}
.price_btn{
    display: inline-block;
    margin: 0 auto;
    font-size: 11px;
    color: #ffffff;
    text-decoration: none;
    padding: 6px 25px;

    border-radius: 17px;
    border: 2px solid #0063DD;
    
    transition: background linear .5s;
    transition: color .5s linear;
}
.price_btn--red
{
    background-color: #0063DD;   
}
.price_btn--red:hover {
    background-color:#ffffff;
    color: #0063DD;  
}