body {
    margin: 0;
    background: 0;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.6;
    font-size: 16px;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
margin: 0;
}

/*container
=====================*/
.container {
    width: 100%;
    max-width: 1093px;
    margin: 0 auto;
}


/*header
=========================*/
.header {
    width: 100%;
    max-width: 1280px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header_inner{   
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*intro
=================*/   
.intro {  
    display: absolute;
    z-index: 1000;
    flex-direction: column;
    justify-content: top;

    height: 695px;
    padding-top:100px;
    background: url("../image/intro.png") center no-repeat;
    -webkit-background-size: cover; 
    background-size: cover;
}
.intro_inner{    
    width: 100%;
    max-width: 407px;
    margin: 35px auto;
    text-align: center;
}
.intro_title {  
    margin: 0 0 21px;
    color: #333333;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.1;   
}
.intro_device{
    position: relative;
    z-index: 100;
    margin: 0 auto;
    text-align: center;
}
.intro_subtitle{
    margin-bottom: 25px;
    color: #929292;
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;   
}


/*nav
==================*/
.nav {
    display: flex;
    font-family: inherit;
    font-weight: medium;
    font-size: 11px;
    text-transform: uppercase;
    align-items: center;  
}
.nav_link {
    color: #929292; 
    text-decoration: none;
    transition: color .2s linear;
    margin-left: 30px; 
    opacity: .75;   
}
.nav_link:hover {
    color: #0F7BFF;
    opacity: 1;
}


/*Button
===================*/
.btn{
    margin-left: 35px;
    display: inline-block;
    font-size: 11px;
    color: #ffffff;
    text-decoration: none;
    padding: 6px 25px;

    border-radius: 17px;
    border: 2px solid #0063DD;
    
    transition: background linear .5s;
    transition: color .5s linear;
}
.btn--red
{
    background-color: #0063DD;   
}
.btn--red:hover {
    background-color:#ffffff;
    color: #0063DD;  
}


/*Features
===============*/
.features
{
    position: relative;
    z-index: 1000;
    flex-direction: column;
    justify-content: top;

    height: 431px;

    background: url("../image/Features/feature.png") center no-repeat;
    -webkit-background-size: cover; 
    background-size: cover;
}
.features_inner{
    position: relative;
    z-index: 1000;
    width: 100%;
    max-width: 760px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 100px;  
}
.features_item
{ 
    width: 240px;
    height: 193px;
    text-align: center;
    margin: 0 auto; 


    background: #ffffff;
    border-radius: 3px;
    box-shadow: 0 0 45px rgba(165, 165, 165, 0.25);
    transition: transform .5s linear;
}
.features_item:hover{
    transform: translateY(33px);
}
.features_icon{
    
    margin-top: 27px;
    width: 47px;
    height: 47px;
}
.features_title{
    margin-bottom: 17px;
    font-size: 12px;
    font-weight: 700;
    color: #333333;
    font-family: Quicksand;
}
.features_text{
    font-size: 11px;
    font-weight: 400;
    color: #929292;
    line-height: 18px;
}


/* About
===================== */
.about{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: 829px;
    flex-flow: row wrap;
}
.about_item{
    width: 350px;
    height: 407px; 
       
}
.about_title{  
    font-size: 21px;
    line-height: 24px;
    text-align: left;
    margin-bottom: 20px;
    padding-top: 84px;
    font-weight: 500;
}
.about_subtitle{
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;   
    margin-bottom: 7px;   
}
.about_btn{
    font-size: 11px;
    font-weight: 500;
    line-height: 1; 
    text-decoration: none;
    display: inline-block;
    color: #0f7bff;   
}
.about_btn::after{
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    background-color:#0f7bff;
    transition: width .3s ease-in-out;
}
.about_btn:hover:after,
.about_btn:focus:hover{
    width: 100%;
}
.about_btn:hover{
    color: #0f7bff;
}


/*Work
===============*/
.work{
    display: absolute;
    flex-direction: column;
    justify-content: top;

    height: 490px;

    background: url("../image/Work/work.png") center no-repeat;
    -webkit-background-size: cover; 
    background-size: cover;
}
.work_header{
    margin: 0 auto;
    width: 100%;
    max-width: 487px;  
    text-align: center; 
   padding-top: 101px;
   padding-bottom: 31px;
}
.work_titles{
    color: #333333;
    font-family: Quicksand;
    font-size: 21px;
    font-weight: 500;
    line-height: 24px;  
    margin-bottom: 26px;   
}
.work_subtitle
{
    color: #929292;
    font-family: Quicksand;
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;   
}
.work_line{
    position: absolute; 
    z-index: 200; 
    margin: 15px 0 0 70px;
}
.work_inner{
    display: flex;
    justify-content: space-between;
    text-align: justify;
    width: 100%;
    max-width: 717px;
    margin: 0 auto;
    margin-bottom: 85px;
    z-index: 100; 
}
.work_item{
    width: 197px;
    height: 194px;
    text-align: center;
}
.work_icon{
    position: relative;
    z-index: 300;
    width: 67px;
    height: 67px;
    margin-bottom: 15px;   
}
.work_title{
    margin-bottom: 15px;
    font-size: 12px;
    font-weight: 700;
    color: #333333;
    font-family: Quicksand;
}
.work_text{
    font-size: 11px;
    font-weight: 400;
    color: #929292;
    line-height: 18px;
   text-align: center;
   line-height: 18px;
}

/* howdo
====================== */
/* .howdo
{
    display: absolute;
    flex-direction: column;
    justify-content: top;

    height: 405px;

    background: url("../image/Features/feature.png") center no-repeat;
    -webkit-background-size: cover; 
    background-size: cover;
}
.gallery
{
   justify-content: left;
    width: 100%;
    max-width: 601px;
}
.gallery-cell{
    width: 33%;
    height: 168px;
    margin-right: 10px;
    background: #8C8;
}

.gallery-cell:before
{
    display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
} */



/* Price 
=============*/
.price{
    width: 100%;
    max-width: 797px;
    display:flex;
    margin: 0 auto;
    justify-content: center;  
}
.price_choice{
    
    width: 240px;
    height: 193px;
    text-align: left;
    margin: 0 auto;
    margin-top: 197px;
    margin-bottom: 197px;
}
.price_item
{  
    width: 240px;
    height: 384px;
    text-align: center;

    margin: 0 auto;
    margin-top: 87px;
    margin-bottom: 87px;

    background: #ffffff;
    border-radius: 3px;  
    box-shadow: 0 0 45px rgba(165, 165, 165, 0.25);
}
.price_icon{  
    margin-top: 27px;
    width: 67px;
    height: 67px;
    margin-bottom: 19px;
}
.price_title{
    margin-bottom: 17px;
    font-size: 12px;
    font-weight: 700;
    color: #333333;
    font-family: Quicksand;
}
.price_text{
    font-size: 11px;
    font-weight: 400;
    color: #929292;
    line-height: 25px;
    margin-bottom: 10px;
}
.price_price
{
    color: #0f7bff;
    font-family: Quicksand;
    font-size: 21px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    margin-bottom: 22px;
}
.price_btn{
    display: inline-block;
    margin: 0 auto;
    font-size: 11px;
    color: #ffffff;
    text-decoration: none;
    padding: 6px 25px;

    border-radius: 17px;
    border: 2px solid #0063DD;
    
    transition: background linear .5s;
    transition: color .5s linear;
}
.price_btn--red
{
    background-color: #0063DD;   
}
.price_btn--red:hover {
    background-color:#ffffff;
    color: #0063DD;  
}

/* Free 
================*/
.free{
    display: absolute;
    flex-direction: column;
    justify-content: center;

    height: 224px;

    background: url("../image/Free/free.png") center no-repeat;
    -webkit-background-size: cover; 
    background-size: cover;
}
.free_inner
{
    width: 100%;
    max-width: 501px;
    flex-wrap: wrap;
    display: flex;
    padding-top: 89px;
    margin: 0 auto;
    text-align: left;
}
.free_title
{
    color: #333333;
    font-size: 21px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 16px;
}
.free_btn
{
    margin-left: 108px;
    display: inline-block;
    font-size: 11px;
    color: #ffffff;
    text-decoration: none;
    padding: 19px 58px 0 48px;

    border-radius: 3px;
    border: 2px solid #0063DD;
    
    transition: background linear .5s;
    transition: color .5s linear;
}
.free_btn--red
{
    background-color: #0063DD;   
}
.free_btn--red:hover {
    background-color:#ffffff;
    color: #0063DD;  
}
.free_subtitle
{
    color: #929292;
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
}


/* Footer 
==================*/
.footer
{
    display: absolute;

    flex-direction: column;
    justify-content: center;

    height: 352px;

    background: url("../image/Footer/footer.png") center no-repeat;
    -webkit-background-size: cover; 
    background-size: cover;
}
.footer_inner
{
    width: 100%;
    max-width: 370px;
    display: flex;
    padding-top: 89px;
    margin: 0 auto;
    padding-bottom: 87px;

    flex-wrap: wrap;
}
.footer_title{
    color: #ffffff;
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 700;
    margin: 0 auto;
    margin-bottom: 22px;
}
.footer_contact
{
    display: flex;
    justify-content: space-around;
    margin-top: 27px;
}
.footer_logo
{
    color: #ffffff;
    font-family: Quicksand;
    font-size: 11px;
    font-weight: 400;
}


/* Form
======= */
form {
    position: relative;
    width: 370px;
    margin: 0 auto;

}
input, button {
    border: none;
    outline: none;
}
input {
    width: 100%;
    max-width: 261px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #ffffff;
    padding-left: 15px;
    border-radius: 20px 0 0 20px;
}
input::-webkit-input-placeholder {
    color:#ffffff; 
    font-family: Quicksand;
    font-size: 11px;
}
  input:-moz-placeholder {
    color: #ffffff;
    font-family: Quicksand;
    font-size: 11px;
    font-weight: 400; 
}
input:-ms-input-placeholder {
    color: #ffffff; 
    font-family: Quicksand;
    font-size: 11px;
    font-weight: 400;
}
button {
    width: 100%;
    max-width: 110px;
    height: 40px;
    position: absolute;
    border-radius: 0 20px 20px 0;
  
    color:  #0f7bff;
    font-family: Quicksand;
    font-size: 11px;
    font-weight: 700;
    background: #ffffff;
    cursor: pointer;    
}
button:before {  
    color:#ffffff;
    font-size: 20px;
    font-weight: bold;
}


/* Link
============== */
.link
{

    display: flex;  
}
.link_item
{
    color: #d8d8d8;
    font-family: Quicksand;
    font-size: 11px;
    font-weight: 400;
    text-decoration: none;
    margin-left: 25px;
    transform: color .2s linear;
    opacity: .75;
}
.link_item:hover
{
    opacity: 1;
    color: #ffffff;
}
 /* Site
 ================ */
.site
{
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 52px;

}
.site_item
{
    width: 13px;
    height: 9px;
    margin-left: 15px;
}